* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }
  button {
    background-color: transparent;
    border: none;
  }
  .fa-regular {
    font-size: 1rem;
  }

  .body-dark {
    background-color: black;
  }
  .body-dark .card {
    background-color: black;
  }
  .body-dark .card-body h5 {
    color: white;
  }
  .body-dark .card-body p {
    color: white;
  }
  .body-dark .header h2 {
    color: white;
  }
  .body-dark .header button {
    color: white;
  }